<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Template Demo</title>
    </head>
    <body>
        <h1>Books</h1>
        <ul>
            {{ range .Books }}
            <li>{{ .Title }} by {{ .Author | uc }}</li>
            {{ end }}
        </ul>

        <p>The current date is {{ .Time }} although in the UK we say {{ .Time | dmy }}</p>

        {{ template "mol" .Mol }}
    </body>
</html>
